<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite" verbose="2">
  <test thread-count="1" parallel="classes" name="Test">
    <classes>
		<class name="testcase.TC001Login"/>
		<class name="testcase.TC002CreateLead"/>
		<class name="testcase.TC008CreateContact"/>
		<class name="testcase.TC013CreateAccount"/>
		<class name="testcase.TC003FindLead"/>
		<class name="testcase.TC009FindContact"/>
		<class name="testcase.TC014FindAccount"/>
		<class name="testcase.TC004EditLead"/>
		<class name="testcase.TC010EditContact"/>
		<class name="testcase.TC015EditAccount"/>
		<class name="testcase.TC005DuplicateLead"/>
		<class name="testcase.TC011MergeContact"/>
		<class name="testcase.TC016MergeAccount"/>
		<class name="testcase.TC006DeleteLead"/>
		<class name="testcase.TC012DeleteContact"/>
		<class name="testcase.TC017DeleteLead"/>     
		<class name="testcase.TC007RequestCatalog"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
